  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global Styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f7e9e9; /* Light pink background */
    color: #333; /* Dark text color */
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Header */
  .header {
    background-color: #ffcccc; /* Light pink header background */
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #ff0066; /* Pink top border */
    border-bottom: 2px solid #ff0066; /* Pink bottom border */
  }
  
  .logo {
    font-size: 1.5rem;
    color: #333; /* Dark text color */
    text-transform: uppercase;
  }
  
  .navbar ul {
    list-style: none;
  }
  
  .navbar ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #333; /* Dark text color */
    transition: color 0.3s ease; /* Smooth transition */
  }
  
  .navbar ul li a:hover {
    color: #ff0066; /* Pink hover color */
  }
  
  /* About Section */
  .about {
    padding: 50px 0;
    text-align: center;
  }
  
  .profile-photo {
    width: 200px; /* Adjust width as needed */
    border-radius: 50%; /* Optional: rounded border */
    margin-bottom: 20px; /* Optional: add some space below the photo */
  }
  
 /* Portfolio Section */
.portfolio {
    padding: 50px 0;
  }
  
  .portfolio-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .portfolio-item {
    width: 200px;
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
  }
  
  .portfolio-item a {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  
  .portfolio-item img {
    width: 100%;
    border-bottom: 2px solid #ff0066; /* Pink border */
  }
  
  .portfolio-item h3 {
    margin: 10px 0;
    text-align: center; /* Ensure the text is centered */
  }
  
  
  .portfolio-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  .featured {
    width: 250px;
  }
  
  /* Contact Section */
.contact {
    padding: 50px 0;
    background-color: #ffe6e6; /* Light pink background */
    border-top: 2px solid #ff0066; /* Pink top border */
    border-bottom: 2px solid #ff0066; /* Pink bottom border */
  }
  
  .contact h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333; /* Dark text color */
  }
  
  .contact p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .contact p:last-child {
    margin-bottom: 0;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .portfolio-item {
      width: 100%;
    }
  }
